// breakpoints 

@mixin for-mobile-only {
  @media only screen and (max-device-width: #{$breakpoint-tablet-portrait - 1px}) { @content; }
}
@mixin for-tablet-only {
  @media only screen and (min-device-width: $breakpoint-tablet-portrait) and (max-device-width: #{$breakpoint-desktop - 1px}) { @content; }
}
@mixin for-tablet-portrait-only {
  @media only screen and (min-device-width: $breakpoint-tablet-portrait) and (max-device-width: #{$breakpoint-tablet-landscape - 1px}) { @content; }
}
@mixin for-tablet-landscape-only {
  @media only screen and (min-device-width: $breakpoint-tablet-landscape) and (max-device-width: #{$breakpoint-desktop - 1px}) { @content; }
}
@mixin for-desktop-only {
  @media only screen and (min-device-width: $breakpoint-desktop) { @content; }
}
@mixin for-desktop-large-only {
  @media only screen and (min-device-width: $breakpoint-desktop-large) { @content; }
}

@mixin for-tablet-up {
  @media only screen and (min-width: $breakpoint-tablet-portrait) { @content; }
}
@mixin for-tablet-portrait-up {
  @media only screen and (min-width: $breakpoint-tablet-portrait) { @content; }
}
@mixin for-tablet-landscape-up {
  @media only screen and (min-width: $breakpoint-tablet-landscape) { @content; }
}
@mixin for-desktop-up {
  @media only screen and (min-width: $breakpoint-desktop) { @content; }
}
@mixin for-desktop-large-up {
  @media only screen and (min-width: $breakpoint-desktop-large) { @content; }
}