$breakpoint-tablet-portrait : 768px;
$breakpoint-tablet-landscape : 900px;
$breakpoint-desktop : 1200px;
$breakpoint-desktop-large : 1800px;

$nbcols : 24;
$gutter : 16px;

@import 'reset';
@import 'breakpoints';
@import 'grid';