// columns mixin
@mixin col($name : ''){
    @for $i from 1 through $nbcols{
        &.col--#{$i}#{$name}{
            flex-basis:100% / $nbcols * $i;
            max-width:100% / $nbcols * $i;
        }
    }
}

// grid
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:flex-start;
    
    &:not(.nogutter){
      width:calc(100% + #{$gutter});
      margin:0 -#{$gutter / 2} !important;
      .col{
        padding:0 #{$gutter / 2};
      }
    }

    .col{
        flex:1;
        flex-basis:100%;
        max-width:100%;

        @include col();      

        @include for-tablet-up{
            @include col('-t');
        }
        @include for-tablet-portrait-up{
            @include col('-tp');
        }
        @include for-tablet-landscape-up{
            @include col('-tl');
        }
        @include for-desktop-up{
            @include col('-d');
        }
        @include for-desktop-large-up{
            @include col('-dl');
        }

        @include for-mobile-only{
          @include col('-m-o');
        }
        @include for-tablet-only{
          @include col('-t-o');
        }
        @include for-tablet-portrait-only{
            @include col('-tp-o');
        }
        @include for-tablet-landscape-only{
            @include col('-tl-o');
        }
        @include for-desktop-only{
            @include col('-d-o');
        }
        @include for-desktop-large-only{
            @include col('-dl-o');
        }
    }
    
    .break{
        flex-basis:100%;
        height:0;
        font-size:0;
    }
}
