/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css?family=Roboto:400,700";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:after, *:before {
  box-sizing: border-box; }

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .grid:not(.nogutter) {
    width: calc(100% + 16px);
    margin: 0 -8px !important; }
    .grid:not(.nogutter) .col {
      padding: 0 8px; }
  .grid .col {
    flex: 1;
    flex-basis: 100%;
    max-width: 100%; }
    .grid .col.col--1 {
      flex-basis: 4.1666666667%;
      max-width: 4.1666666667%; }
    .grid .col.col--2 {
      flex-basis: 8.3333333333%;
      max-width: 8.3333333333%; }
    .grid .col.col--3 {
      flex-basis: 12.5%;
      max-width: 12.5%; }
    .grid .col.col--4 {
      flex-basis: 16.6666666667%;
      max-width: 16.6666666667%; }
    .grid .col.col--5 {
      flex-basis: 20.8333333333%;
      max-width: 20.8333333333%; }
    .grid .col.col--6 {
      flex-basis: 25%;
      max-width: 25%; }
    .grid .col.col--7 {
      flex-basis: 29.1666666667%;
      max-width: 29.1666666667%; }
    .grid .col.col--8 {
      flex-basis: 33.3333333333%;
      max-width: 33.3333333333%; }
    .grid .col.col--9 {
      flex-basis: 37.5%;
      max-width: 37.5%; }
    .grid .col.col--10 {
      flex-basis: 41.6666666667%;
      max-width: 41.6666666667%; }
    .grid .col.col--11 {
      flex-basis: 45.8333333333%;
      max-width: 45.8333333333%; }
    .grid .col.col--12 {
      flex-basis: 50%;
      max-width: 50%; }
    .grid .col.col--13 {
      flex-basis: 54.1666666667%;
      max-width: 54.1666666667%; }
    .grid .col.col--14 {
      flex-basis: 58.3333333333%;
      max-width: 58.3333333333%; }
    .grid .col.col--15 {
      flex-basis: 62.5%;
      max-width: 62.5%; }
    .grid .col.col--16 {
      flex-basis: 66.6666666667%;
      max-width: 66.6666666667%; }
    .grid .col.col--17 {
      flex-basis: 70.8333333333%;
      max-width: 70.8333333333%; }
    .grid .col.col--18 {
      flex-basis: 75%;
      max-width: 75%; }
    .grid .col.col--19 {
      flex-basis: 79.1666666667%;
      max-width: 79.1666666667%; }
    .grid .col.col--20 {
      flex-basis: 83.3333333333%;
      max-width: 83.3333333333%; }
    .grid .col.col--21 {
      flex-basis: 87.5%;
      max-width: 87.5%; }
    .grid .col.col--22 {
      flex-basis: 91.6666666667%;
      max-width: 91.6666666667%; }
    .grid .col.col--23 {
      flex-basis: 95.8333333333%;
      max-width: 95.8333333333%; }
    .grid .col.col--24 {
      flex-basis: 100%;
      max-width: 100%; }
    @media only screen and (min-width: 768px) {
      .grid .col.col--1-t {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-t {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-t {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-t {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-t {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-t {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-t {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-t {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-t {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-t {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-t {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-t {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-t {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-t {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-t {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-t {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-t {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-t {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-t {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-t {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-t {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-t {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-t {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-t {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 768px) {
      .grid .col.col--1-tp {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-tp {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-tp {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-tp {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-tp {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-tp {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-tp {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-tp {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-tp {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-tp {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-tp {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-tp {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-tp {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-tp {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-tp {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-tp {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-tp {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-tp {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-tp {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-tp {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-tp {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-tp {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-tp {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-tp {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 900px) {
      .grid .col.col--1-tl {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-tl {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-tl {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-tl {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-tl {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-tl {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-tl {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-tl {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-tl {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-tl {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-tl {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-tl {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-tl {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-tl {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-tl {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-tl {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-tl {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-tl {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-tl {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-tl {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-tl {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-tl {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-tl {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-tl {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 1200px) {
      .grid .col.col--1-d {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-d {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-d {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-d {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-d {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-d {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-d {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-d {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-d {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-d {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-d {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-d {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-d {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-d {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-d {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-d {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-d {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-d {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-d {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-d {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-d {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-d {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-d {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-d {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-width: 1800px) {
      .grid .col.col--1-dl {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-dl {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-dl {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-dl {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-dl {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-dl {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-dl {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-dl {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-dl {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-dl {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-dl {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-dl {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-dl {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-dl {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-dl {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-dl {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-dl {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-dl {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-dl {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-dl {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-dl {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-dl {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-dl {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-dl {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (max-device-width: 767px) {
      .grid .col.col--1-m-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-m-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-m-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-m-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-m-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-m-o {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-m-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-m-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-m-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-m-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-m-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-m-o {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-m-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-m-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-m-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-m-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-m-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-m-o {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-m-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-m-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-m-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-m-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-m-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-m-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 1199px) {
      .grid .col.col--1-t-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-t-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-t-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-t-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-t-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-t-o {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-t-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-t-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-t-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-t-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-t-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-t-o {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-t-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-t-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-t-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-t-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-t-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-t-o {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-t-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-t-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-t-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-t-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-t-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-t-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 768px) and (max-device-width: 899px) {
      .grid .col.col--1-tp-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-tp-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-tp-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-tp-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-tp-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-tp-o {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-tp-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-tp-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-tp-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-tp-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-tp-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-tp-o {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-tp-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-tp-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-tp-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-tp-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-tp-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-tp-o {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-tp-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-tp-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-tp-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-tp-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-tp-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-tp-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 900px) and (max-device-width: 1199px) {
      .grid .col.col--1-tl-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-tl-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-tl-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-tl-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-tl-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-tl-o {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-tl-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-tl-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-tl-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-tl-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-tl-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-tl-o {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-tl-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-tl-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-tl-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-tl-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-tl-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-tl-o {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-tl-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-tl-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-tl-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-tl-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-tl-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-tl-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 1200px) {
      .grid .col.col--1-d-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-d-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-d-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-d-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-d-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-d-o {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-d-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-d-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-d-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-d-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-d-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-d-o {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-d-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-d-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-d-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-d-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-d-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-d-o {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-d-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-d-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-d-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-d-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-d-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-d-o {
        flex-basis: 100%;
        max-width: 100%; } }
    @media only screen and (min-device-width: 1800px) {
      .grid .col.col--1-dl-o {
        flex-basis: 4.1666666667%;
        max-width: 4.1666666667%; }
      .grid .col.col--2-dl-o {
        flex-basis: 8.3333333333%;
        max-width: 8.3333333333%; }
      .grid .col.col--3-dl-o {
        flex-basis: 12.5%;
        max-width: 12.5%; }
      .grid .col.col--4-dl-o {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%; }
      .grid .col.col--5-dl-o {
        flex-basis: 20.8333333333%;
        max-width: 20.8333333333%; }
      .grid .col.col--6-dl-o {
        flex-basis: 25%;
        max-width: 25%; }
      .grid .col.col--7-dl-o {
        flex-basis: 29.1666666667%;
        max-width: 29.1666666667%; }
      .grid .col.col--8-dl-o {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%; }
      .grid .col.col--9-dl-o {
        flex-basis: 37.5%;
        max-width: 37.5%; }
      .grid .col.col--10-dl-o {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%; }
      .grid .col.col--11-dl-o {
        flex-basis: 45.8333333333%;
        max-width: 45.8333333333%; }
      .grid .col.col--12-dl-o {
        flex-basis: 50%;
        max-width: 50%; }
      .grid .col.col--13-dl-o {
        flex-basis: 54.1666666667%;
        max-width: 54.1666666667%; }
      .grid .col.col--14-dl-o {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%; }
      .grid .col.col--15-dl-o {
        flex-basis: 62.5%;
        max-width: 62.5%; }
      .grid .col.col--16-dl-o {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%; }
      .grid .col.col--17-dl-o {
        flex-basis: 70.8333333333%;
        max-width: 70.8333333333%; }
      .grid .col.col--18-dl-o {
        flex-basis: 75%;
        max-width: 75%; }
      .grid .col.col--19-dl-o {
        flex-basis: 79.1666666667%;
        max-width: 79.1666666667%; }
      .grid .col.col--20-dl-o {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%; }
      .grid .col.col--21-dl-o {
        flex-basis: 87.5%;
        max-width: 87.5%; }
      .grid .col.col--22-dl-o {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%; }
      .grid .col.col--23-dl-o {
        flex-basis: 95.8333333333%;
        max-width: 95.8333333333%; }
      .grid .col.col--24-dl-o {
        flex-basis: 100%;
        max-width: 100%; } }
  .grid .break {
    flex-basis: 100%;
    height: 0;
    font-size: 0; }

html {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: #f1f1f1; }

.wrapper {
  width: 80%;
  margin: 32px 10%; }

.col {
  color: #062e31;
  position: relative; }
  .col .content {
    display: block;
    min-height: 200px;
    padding: 16px;
    margin-bottom: 16px;
    width: 100%;
    z-index: 0;
    background-color: #97C0B7; }
    .col .content.content--big {
      min-height: 416px; }

.col .col .content {
  background-color: #679693; }

.col .col .col .content {
  background-color: #41848F; }

/*# sourceMappingURL=style.css.map */
